.upload-file-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px dashed var(--primary-color);
    border-radius: 30px;
    position: relative;
    overflow: hidden;

    .upfile {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &:hover {
        cursor: pointer;
        background-color: #aca5c140;
    }
}