@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #9900F0;
    --bg-gradient-btn: linear-gradient(180deg,#ea5bdb 0%,#964199 41.63%,#964199 56.5%,#db57cf 142.73%);
    --background-color: #09011d;
    --text-color: #ffffff;
    --primary-color-hover: #F85ACA;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Red Rose', cursive;
    font-size: 1.6rem !important;
    line-height: 1.5 !important;
    text-rendering: optimizeSpeed;
    color: var(--white) !important;

    background-color: var(--background-color) !important;
}

img{
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    p {
        margin: 0;
        padding: 0;
    }
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

* {
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(108, 108, 108);
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--placeholder);
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: var(--placeholder);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
